.cardRight{
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    max-width: 300px;
    height: 100%;
    transition: .5s;
    padding: 10px;
    background-color: #fff;
}
.cardRight:not(.active){
    transform: translateX(100%);
}