:root{
    --red:#4d3c3c;
    --black:#000000;
    --blue:#0081d6;
    --white:#ecf0f1;
}

*{
    margin:0;
    padding: 0;
    box-sizing: content-box;
}

body{
    background: rgb(2, 58, 58);
    overflow-x: hidden;
    font-family: 'georgia', cursive;
}

/** Go Top **/
.go-top{
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 50px;
    height: 50px;
    border: 2px solid var(--red);
    background: #ffffff;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
}

.go-top:hover{
    border: 2px solid var(--white);
    background: var(--red);
}

.go-top:hover span{
    color: var(--white);
}

.go-top > span{
    font-size: 30px;
    color: var(--black);
}

/** Go Top **/

/** Skew **/
.skew-abajo{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}
.skew-arriba{
    position: absolute;
    top: 0;
    left: 0;
    border-width: 10vh 100vw 0 0;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
    z-index: 10;
}

/** Skew **/

/** Menu de Navegacion **/
#header{
    position: relative;
    width: 100%;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.menu .logo-box{
    margin-left: 20px;
}
.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}
.menu .list-container{
    margin-right: 20px;
}
.menu .list-container .list{
    display: flex;
}
.menu .list-container .list li{
    list-style: none;
}
.menu .list-container .list li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 19px;
    transition: 0.3s;
}
.menu .list-container .list li a.activo{
    background: var(--red);
    color: #ffffff;
}
.menu .list-container .list li a:hover{
    background: var(--red);
    color: #ffffff;
}

.btn-menu > .fa-bars{
    display: none;
}

/** Menu de Navegacion **/

/** IMG Header **/
.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/8906.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-header .welcome {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(57, 231, 243, 0.6);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-header .welcome h1{
    font-size: 50px;
    color: #ffffff;
    font-weight: 200;
}
.img-header .welcome hr{
    width: 400px;
    height: 2px;
    background: #ffffff;
    border: none;
    margin-top: 5px ;
}
.img-header .welcome p{
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
}
.img-header .welcome > button{
    width: 170px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #ffffff;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.img-header .welcome > button:hover{
    background: var(--blue);
}

/** IMG Header **/

/** Acerca de Nosotros **/
.acerca-de{
    width: 100%;
    margin-top: 100px;
} 
.acerca-de .info-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.acerca-de .info-container h1{
    font-size: 50px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
}

.acerca-de .info-container p{
    text-align: center;
    font-size: 17px;
    color: var(--black);
    line-height: 35px;
    margin: 10px 0px;
}

.acerca-de .info-container .about-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.acerca-de .info-container .about-gallery img{
    width: calc(33.33% - 10px);
    height: 300px;
    object-fit: fill;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.acerca-de .info-container .about-more{
    width: 100%;
    display: flex;
    justify-content: center;
}

.acerca-de .info-container .about-more button{
    width: 120px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #ffffff;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.acerca-de .info-container .about-more button:hover{
    background: var(--blue);
}

/** Pop Up **/
.overlay{
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active{
    visibility: visible;
}

.overlay .popup{
    background: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    border-radius: 3px;
    font-family: 'Syne Tactile', cursive;
    padding: 20px;
    text-align: center;
    width: 600px;
    
    transition: 0.3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.overlay .popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: var(--black);
    transition: 0.3s ease all;
}

.overlay .popup .btn-cerrar-popup:hover{
    color: var(--red);
}

.popup h1{
    font-size: 36px;
    margin-bottom: 10px;
    opacity: 0;
}

.popup p{
    font-size: 17px;
    margin-bottom: 10px;
    opacity: 0; 
}

.popup img {
    opacity: 0;
}

/** Pop Up Animaciones **/
.popup.active {
    opacity: 1;
    transform: scale(1);
}
.popup.active h1{
    animation: entradaTitulo .8s ease .5s forwards;
}
.popup.active p{
    animation: entradaParrafo .8s ease .5s forwards;
}
.popup.active img{
    animation: entradaImagen 1s ease 1s forwards;
}
@keyframes entradaTitulo {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes entradaParrafo {
    from {
        transform: translateY(25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes entradaImagen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/** Acerca de Nosotros **/

/** Nuestros Proyectos **/
.our-projects{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/865098.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
}
.our-projects .deg-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}
.our-projects .ejeZproject{
    position: relative;
    width: 100%;
    height: 100%;
}
.our-projects .container-project{
    width: 90%;
    margin: auto;
    padding-top: 100px;
}
.our-projects .container-project .project-title{
    border:2px solid #ffffff;
    padding:10px;
    text-align: center;
    width: 70%;
    margin: auto;
}
.our-projects .container-project .project-title h2{
    font-size: 60px;
    color: #ffffff;
    font-weight: normal;
}
.our-projects .container-project .project-title hr{
    background: #ffffff;
    width: 50%;
    margin: 20px auto;
}
.our-projects .container-project .project-img{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
    padding-bottom: 100px;
}
.our-projects .container-project .project-img img{
    width: calc(60% - 10px);
    margin: 30px;
    object-fit: fill;
    border-radius: 20px;
    cursor: auto;
}


/** Footer **/
.footer{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/fondo1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.footer .deg-footer{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(24, 20, 20, 0.6);
}
.footer .ejeZfooter{
    position: relative;
    width: 100%;
    height: 100%;
}
.footer .footer-content{
    width: 90%;
    padding-top: 100px;
    margin: center;
}
.footer .footer-content .footer-title{
    width: 50%;
    margin: auto;
    border: 2px solid #ffffff;
    padding: 15px;
}
.footer .footer-content .footer-title h2{
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 10px;
}
.footer .footer-content .footer-title hr{
    width: 80%;
    margin: auto;
}
.footer .footer-content .formulario-content{
    width: 60%;
    background: #fffffdb6; ;
    border-radius: 24px;
    border: 2px solid var(--red);
    margin: 50px auto;
    padding: 30px;
    margin-bottom: 100px;
}
.footer .footer-content .formulario-content #formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer .footer-content .formulario-content #formulario label{
    text-align: center;
    color: var(--black);
    font-size: 22px;
    margin: 30px 0px 10px 0px;
}
.footer .footer-content .formulario-content #formulario input{
    width: 90%;
    height: 40px;
    margin: auto;
    border: 2px solid var(--red);
    border-radius: 24px;
    outline: none;
    text-align: center;
    font-size: 17px;
    color: var(--black);
}
.footer .footer-content .formulario-content #formulario textarea{
    width: 90%;
    height: 200px;
    margin: auto;
    border: 2px solid var(--red);
    border-radius: 24px;
    outline: none;
    font-size: 15px;
    color: var(--black);
    padding: 20px; 
}
.footer .footer-content .formulario-content #formulario .send{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}
.footer .footer-content .formulario-content #formulario .send button{
    width: 150px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #ffffff;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.footer .footer-content .formulario-content #formulario .send button:hover{
    background: var(--blue);
}
.footer .footer-content .footer-text{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.8);
    border-top: 5px solid #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .footer-content .footer-text p{
    color: #ffffff;
    font-size: 20px;
}

/** Footer **/

/** Media Quary **/
@media only screen and (max-width:900px){
    .btn-menu > .fa-bars{
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 28px;
        cursor: pointer;
    }
    .btn-menu > .fa-bars:hover{
        color: var(--red);
    }
    .btn-menu > .fa-times{
        color: var(--red);
    }
    .menu .list-container{
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 60px);
        background: #ffffff;
    }
    .menu .list-container .list{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 5px solid var(--red);
    }
    .menu .list-container .list li{
        width: 90%;
        margin: 10px 0px;
        border-bottom: 1px solid var(--red);
        text-align: center;
    }
    .menu .list-container .list li a{
        font-size: 20px;
    }
    .menu .list-container .list li a.activo{
        background: none;
        color: var(--red);
    }
    .menu .list-container .list li a:hover{
        background: none;
        color: var(--red);
    }
    
}

@media only screen and (max-width: 773px) {
    
     /** IMG Header **/
    .img-header .welcome h1{
        font-size: 40px;
    }
    .img-header .welcome > button {
        width: 130px;
        font-size: 20px;
    }

    /** Acerca de Nosotros **/
    .acerca-de .info-container .about-gallery {
        flex-direction: column;
    }
    .acerca-de .info-container .about-gallery img {
        width: 100%;
    }

    /** Nuestros Proyectos **/
    .our-projects .container-project .project-img img{
        width: 80%;
        margin-bottom: 50px;
    }

}

@media only screen and (max-width: 590px) {

    /** IMG Header **/
    .img-header .welcome h1 {
        font-size: 30px;
    }
    .img-header .welcome hr{
        width: 100px;
    }
    .img-header .welcome p{
        font-size: 17px;
    }
    .img-header .welcome > button {
        width: 100px;
        font-size: 17px;
    }

}

.modal-contenido{
  background-color:rgb(39, 202, 202);
  width:300px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
}
.modal{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
}
#miModal:target{
  opacity:1;
  pointer-events:auto;
}
/** Media Quary **/
